<main class="index">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2">
                <%=link_to "Add a student", new_student_path, class: "btn btn-page" %>
            </div>
        </div>
        <div class="row">
            <% @students.each do |student| %>
                <div class="card col-md-8">
                    <%= image_tag student.picture, size: "96x96" %>
                    <div class="infos">
                        <h2><%= student.first_name %> <%= student.last_name.upcase %></h2>
                        <h4><%= student.semester.upcase %> - <%= student.rank.capitalize %></h4>
                    </div>
                    <div class="bottom-right">
                        <%= link_to "Learn more", student_path(student), class: "btn" %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</main>