<main class="show">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2">
                <%=link_to "Edit profile", edit_student_path(@student), class: "btn btn-page" %>
                <% if current_user.admin? %>
                    <%=link_to "Remove profile", students_path, class: "btn btn-page", method: :delete, confirm: "Are you sure ?" %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-8">
                <div class="row">
                    <div class="col-md-1 col-md-push-10">
                        <%= image_tag @student.picture, size: "96x96" %>
                    </div>
                    <div class="col-md-10 col-md-pull-1">
                        <div class="head">
                            <h1><%= @student.first_name %> <%= @student.last_name.upcase %>
                            <% if @student.admin? %><span class="admin pull-right">Admin </span><% end %></h1>
                            <h4 class="contact"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= @student.email.downcase %> - <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%= @student.phone %></h4>
                            <h3><%= @student.semester.upcase %> - <%= @student.rank.capitalize %> - <%= @student.fields.split(" ").map{|x| x.capitalize}.join(" ") %></h3>
                        </div>
                        <div class="description">
                            <p class="text-justify"><%= @student.description %>aze sd e azer zdfqsdf zer qsfq rzeeeeeeeeeeeeee aze rser azer zer azer qsdf zer</p>
                        </div>
                        <div class="other">
                            <p>RIB : <%= @student.rib %></br>
                            Sécu : <%= @student.secu_number %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>