<main class="show">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2">
                <%=link_to "Edit profile", edit_student_path(@student), class: "btn btn-page" %>
                <% if current_user.admin? %>
                    <%=link_to "Remove profile", students_path, class: "btn btn-page", method: :delete, confirm: "Are you sure ?" %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-8">
                <div class="row">
                    <div class="col-sm-1 col-sm-push-10 col-right">
                        <div class="row"><%= image_tag @student.picture, size: "96x96" %></div>
                        <div class="row">
                            <% if current_user.waiting? %><span class="waiting">Waiting </span><% end %>
                            <% if current_user.working? %><span class="working">Working </span><% end %>
                            <% if @student.admin? %><span class="admin">Admin </span><% end %>
                        </div>
                    </div>
                    <div class="col-sm-10 col-sm-pull-1">
                        <div class="head">
                            <h1><%= @student.first_name %> <%= @student.last_name.upcase %></h1>
                            <h4 class="contact"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= @student.email.downcase %><% if @student.phone != nil && @student.phone != '' %> - <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%= @student.phone %><% end %></h4>
                            <h3><%= @student.semester.upcase %> - <%= @student.rank.capitalize %><% if @student.fields != nil && @student.fields != '' %> - <%= @student.fields.split(" ").map{|x| x.capitalize}.join(" ") %><% end %></h3>
                        </div>
                        <div class="description">
                            <p class="text-justify"><%= @student.description %>aze sd e azer zdfqsdf zer qsfq rzeeeeeeeeeeeeee aze rser azer zer azer qsdf zer</p>
                        </div>
                        <div class="other">
                            <p><% if @student.rib != nil && @student.rib != '' %>RIB : <%= @student.rib %></br><% end %>
                            <% if @student.secu_number != nil && @student.secu_number != '' %>Sécu : <%= @student.secu_number %><% end %></p>
                        </div>
                    </div>
                </div>
            </div>
        <% unless @student.jobs.empty? %>
            <div class="card col-md-8">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-nowrap">Project name</th>
                            <th class="text-nowrap">Job name</th>
                            <th class="text-nowrap">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% @student.jobs.each do |job| %>
                        <% if job.waiting? %>
                            <tr class="waiting">
                        <% elsif job.working? %>
                            <tr class="working">
                        <% elsif job.rejected? %>
                            <tr class="rejected">
                        <% elsif job.finished? %>
                            <tr class="finished">
                        <% else %>
                            <tr>
                        <% end %>
                            <td class="text-nowrap"><%= job.project.name %></td>
                            <td class="text-nowrap"><%= job.name %></td>
                            <td class="text-justify"><%= job.description %>Lorem ipsum chocolat fraise banane manque passion rose bateau nounours table chaise</td>
                        </tr>
                    <% end %>
                    </tbody>
                </div>
            </div>
        <% end %>
        </div>
    </div>
</main>