<main class="index">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2">
                <%=link_to "Add a company", new_company_path, class: "btn btn-page" %>
            </div>
        </div>
        <div class="row">
            <% @companies.each do |company| %>
                <% unless company.hidden %>
                    <div class="card col-md-8">
                        <%= image_tag company.picture, size: "96x96" %>
                        <div class="infos">
                            <h2><%= company.name %></h2>
                            <h4><%= company.email %></h4>
                        </div>
                        <div class="bottom-right">
                            <%= link_to "Learn more", company_path(company), class: "btn" %>
                        </div>
                    </div>
                <% end %>
            <% end %>
        </div>
    </div>
</main>