<main class="form-page">
    <div class="container">
        <div class="row">
            <div class="card col-md-8">
                <h1>Sign up a company</h1>
                <%= form_for(:company, url: companies_path, method: "post") do |f| %>
                    <%= f.text_field :name, placeholder: "Company name (Required)", required: "true", class: "form-control", id: "company-name" %>
                    <div class="input-group" id="company-hidden">
                        <span class="input-group-addon"><%= f.check_box :hidden, {}, "true", "false" %></span><h4>Hide the company</h4>
                    </div>
                    <div class="fields">
                        <h3>Working fields :</h3>
                        <div class="input-group">
                            <span class="input-group-addon"><%= f.check_box :field_meca, {}, "true", "false" %></span><h4>Mecanics</h4>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><%= f.check_box :field_elec, {}, "true", "false" %></span><h4>Electronics</h4>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><%= f.check_box :field_info, {}, "true", "false" %></span><h4>Computer science</h4>
                        </div>
                    </div>
                    <%= f.email_field :email, placeholder: "Email (Required)", required: "true", class: "form-control" %>
                    <%= f.text_field :phone, placeholder: "Phone", class: "form-control" %>
                    <%= f.text_field :address, placeholder: "Address", class: "form-control" %>
                    <%= f.text_area :description, placeholder: "Description...", class: "form-control" %>
                    <%= f.text_field :siret, placeholder: "Siret number", class: "form-control" %>
                    <%= f.password_field :password, placeholder: "Password", required: "true", class: "form-control" %>
                    <%= f.password_field :password_confirmation, placeholder: "Password confirmation", required: "true", class: "form-control" %>
                    <%= f.submit "Sign up", class: "form-btn form-control btn" %>
                <% end %>
            </div>
        </div>
    </div>
</main>