<main class="show">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2">
                <%=link_to "Edit profile", edit_company_path(@company), class: "btn btn-page" %>
                <% if current_user.admin? %>
                    <%=link_to "Remove profile", company_path(@company), class: "btn btn-page", method: :delete, confirm: "Are you sure ?" %>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-8">
                <div class="row">
                    <div class="col-sm-1 col-sm-push-10 col-right">
                        <div class="row"><%= image_tag @company.picture, size: "96x96" %></div>
                        <div class="row">
                            <% if @company.waiting? %><span class="waiting">Waiting </span><% end %>
                            <% if @company.working? %><span class="working">Working </span><% end %>
                        </div>
                    </div>
                    <div class="col-sm-10 col-sm-pull-1">
                        <div class="head">
                            <h1><%= @company.name %></h1>
                            <h4 class="contact"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <%= @company.email.downcase %><% if @company.phone != nil && @company.phone != '' %> - <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> <%= @company.phone %><% end %></h4>
                            <h4 class="contact"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= @company.address %></h4>
                            <h3>
                            <% if @company.field_meca || @company.field_elec || @company.field_info %><% if @company.field_meca %> Mecanics<% if @company.field_elec || @company.field_info %> / <% end %><% end %>
                                                                                                      <% if @company.field_elec %> Electronics<% if @company.field_info %> / <% end %><% end %>
                                                                                                      <% if @company.field_info %>Computer science<% end %>
                            <% end %></h3>
                        </div>
                        <div class="description">
                            <p class="text-justify"><%= @company.description %></p>
                        </div>
                        <div class="other">
                            <% if @company.siret != nil && @company.siret != '' %><p>Siret : <%= @company.siret %></p><% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% unless @company.projects.empty? %>
            <div class="card col-md-8 legend">
                <div class="row">
                    <div class="col-sm-6"><h2><span class="glyphicon glyphicon-stop waiting"></span> Waiting for approval</h2></div>
                    <div class="col-sm-6"><h2><span class="glyphicon glyphicon-stop confirmed"></span> Confirmed</h2></div>
                    <div class="col-sm-6"><h2><span class="glyphicon glyphicon-stop launched"></span> Launched</h2></div>
                    <div class="col-sm-6"><h2><span class="glyphicon glyphicon-stop finished"></span> Finished</h2></div>
                </div>
            </div>
        <% @company.projects.each do |project| %>
            <% if project.waiting? %>
                <div class="card col-md-8 project waiting">
            <% elsif project.confirmed? %>
                <div class="card col-md-8 project confirmed">
            <% elsif project.launched? %>
                <div class="card col-md-8 project launched">
            <% elsif project.finished? %>
                <div class="card col-md-8 project finished">
            <% else %>
                <div class="card col-md-8">
            <% end %>
                <div class="row">
                    <h2><b>Project :</b> <%= link_to project.name, project_path(project), class: "project_link" %></h2>
                </div>
                <div class="row">
                    <p class="text-justify"><%= project.description %></p>
                </div>
                <div class="row">
                    <%= link_to "Learn more", project_path(project), class: "btn" %>
                    <%= link_to "Edit", edit_project_path(project), class: "btn" %>
                    <% if current_user.admin? %>
                        <% unless project.waiting? %>
                            <%= link_to "Undo", undo_project_path(project), method: "put", class: "btn" %>
                        <% end %>
                        <% unless project.finished? %>
                            <% if project.waiting? %>
                                <%= link_to "Confirm", confirm_project_path(project), method: "put", class: "btn" %>
                            <% end %>
                            <% if project.confirmed? %>
                                <%= link_to "Launch !", launch_project_path(project), method: "put", class: "btn" %>
                            <% end %>
                            <% if project.launched? %>
                                <%= link_to "Mark as finished", finish_project_path(project), method: "put", class: "btn" %>
                            <% end %>
                        <% end %>
                    <% end %>
                    <% if project.waiting? || current_user.admin? %>
                        <%= link_to "Delete", project_path(project), method: "delete", class: "btn" %>
                    <% end %>
                </div>
            </div>
        <% end %>
        <% end %>
        </div>
    </div>
</main>